body {
	background-color: #78bc3f;
}

.logo {
    position: absolute;
    bottom: 40%;
    left: 30%;
}

img {
    max-width: 70%;
    height: auto;
}

.ucenter {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 25%;
  width: 581px;
  height: 50%;
}

.scenter {
	position: absolute;
	margin: auto;
	top: 50%;
	right: 0%;
	width: 581px;
}

.btn {
  margin: 0 auto;
  width: 200px;
  height: 80px;
  padding: 6px 0 0 3px;
  border: 2px solid #0f5000;
  border-radius: 2px;
  background: none;
  color: #fff;
  letter-spacing: .25em;
  font-size: 1.5rem;
  font-weight: bolder;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: #0da100;
  color: #10151B;
}