body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #000000;
}

img {
  width: 150px;
  border-radius: 50%;
}

.container {
  max-width: 1440px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #92ff1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #000000;
}

h2 {
  color: #000000;
}

.about-section p,
.project-section p,
.technology-section p,
.learned-section p {
  margin-bottom: 20px;
}
