html {
  background-color: #92ff1e;
  background-image: -webkit-linear-gradient(65deg, #92ff1e 50%, #000 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}

h1 {
  color: #000;
  padding: 10px;
}

a {
  text-align: right;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #92ff1e;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}
